<template name="senador">

  <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
    <div class="card-container">
         <div class="card">
             <div class="front">
                 <div class="cover">
                     <img src="images/partidos/{{partido}}.png"/>
                 </div>
                 <div class="user">
                     <img class="img-circle" src="images/senadores/{{rut}}.jpg"/>
                 </div>
                 <div class="content">
                     <div class="main">
                         <h3 class="name">{{nombre}}</h3>
                         <p class="profession">{{partido}}</p>

                         <p class="text-center"> <i class="fa fa-map-o" aria-hidden="true"></i> {{region}}</p>
                         <p class="text-center"> <i class="fa fa-slack" aria-hidden="true"></i> {{circunscripcion}}° Circunscripción</p>
                     </div>
                     <div class="footer">
                         <div class="rating">
                            <button type="button" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-user"></span> {{detalle.detalle.[0].representacion.habitantes}} Personas</button>
                            <button type="button" class="btn btn-warning btn-xs"><span class="glyphicon glyphicon-globe"></span> {{detalle.detalle.[0].representacion.superficie.cantidad}} {{detalle.detalle.[0].representacion.superficie.medida}}</button>
                            <!--<i class="fa fa-mail-forward"></i> Auto Rotation-->
                         </div>
                     </div>
                 </div>
             </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                            <h5 class="motto">{{nombre}}</h5>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h3 class="text-center">Contacto</h3>
                                <p class="text-center"><span class="glyphicon glyphicon-envelope"></span> {{mail}}</p>
                                <p class="text-center"><span class="glyphicon glyphicon-earphone"></span> {{telefono}}</p>


                                <div class="stats-container">
                                    <div class="stats">
                                        <a href="#" class="btn btn-sq-sm btn-default">
                                        <i class="fa fa-list-ul fa-2x"></i><br/>
                                            <h5>70</h5>
                                        </a>
                                        <p>
                                            Asist. Comisiones
                                        </p>
                                    </div>
                                    <div class="stats">
                                        <a href="#" class="btn btn-sq-sm btn-default">
                                        <i class="fa fa-calendar-check-o fa-2x"></i><br/>
                                            <h5>{{asistencia.asistencias.[0].sala.asistencia}}</h5>
                                        </a>
                                        <p>
                                            Asist. Sala
                                        </p>
                                    </div>
                                    <div class="stats">
                                        <a href="#" class="btn btn-sq-sm btn-default">
                                        <i class="fa fa-share fa-2x"></i><br/>
                                            Ver
                                        </a>
                                        <p>
                                            Detalle
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="footer">
                            <div class="social-links text-center">
                                <a href="http://creative-tim.com" class="facebook"><i class="fa fa-facebook fa-fw"></i></a>
                                <a href="http://creative-tim.com" class="google"><i class="fa fa-google-plus fa-fw"></i></a>
                                <a href="http://creative-tim.com" class="twitter"><i class="fa fa-twitter fa-fw"></i></a>
                            </div>
                        </div>
                    </div> <!-- end back panel -->
         </div> <!-- end card -->
    </div> <!-- end card-container -->
  </div>

</template>